{% extends "layoutEmpty.twig" %}

 {% block content %}
     <h1>Bienvenue</h1>
     <form action="{{ path_for('login')}}" method="post">
         <div class="form-group"> <!-- Email field !-->
             <label for="email_id" class="control-label">Login</label>
             <input type="email" class="form-control" id="email_id" name="email" placeholder="Taper ici votre email">
         </div>

         <div class="form-group required"> <!-- Submit button !-->
             <button type="submit" class="btn btn-primary">Se connecter</button>
         </div>
     </form>
 {% endblock %}